<% annotated = @document.annotated_word_ids(current_user.id) %>
<div id="extract-content" class="col-xs-12 annotatable" data-label="extract-content" data-annotate="word" data-source-document-id="<%= @source_document.id %>" data-metadata-group-id="<%= @group.id %>">
	<% @document.content.css("text p").each do |paragraph| %>
		<div class="paragraph">
			<% paragraph.css("s").each do |sentence| %>
				<div class="sentence">
					<% sentence.css("w").each do |word| %>
					    <% annotation_key = annotated.keys.select{|k| k =~ /(^| )#{word["id"]}( |$)/ }.first %>
						<% annotation = annotated[annotation_key] if annotation_key %>
						<div id="<%= word["id"] %>" class="word <%= "no-space" if word["pws"].eql?("no") %> <%= "annotated" if annotation %>" <%= "data-entity-mention-id=#{annotation}" if annotation %>><%= word.content.html_safe %></div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
