<div id="extract-content" class="col-xs-12 annotatable" data-annotate="word" data-document-id="<%= @document.id %>">
	<% @document.content.css("text p").each do |paragraph| %>
		<div class="paragraph">
			<% paragraph.css("s").each do |sentence| %>
				<div class="sentence">
					<% sentence.css("w").each do |word| %>
						<% annotation = @document.word_annotated(word["id"]) %>
						<div id="<%= word["id"] %>" class="word <%= "no-space" if word["pws"].eql?("no") %> <%= "annotated" if annotation %>" <%= "data-entity-id=#{annotation.group_entity_id}" if annotation %>><%= word.content %></div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
