<div id="annotate-fullscreen-dialog" class="modal-dialog" role="document">
	<div class="model-content">
		<div class="modal-header">
			<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
				&times;
			</button>
			<h4 class="modal-title" id="annotateFullScreen">Annotating <%= @document.name %></h4>
		</div>
        <div class="modal-body">
        	<div class="col-xs-6">
        		<button id="new-marker" class="btn btn-xs btn-success disabled new"><span class="glyphicon glyphicon-map-marker"></span> Add marker</button>
        		<span class="loading hidden"></span><br/>
        		<div id="extract-map-fullscreen" class="google-map new" data-url="/map.json?source_document_id=<%= @source_document.id %>&<%= @filter_params %>"></div>
        	</div>
        	<div class="col-xs-6">
        		<div id="extract-controls">
					<% entity_mention = @source_document.entity_mentions.has_group(@group).new %>
					<% @group.metadata_keys.order(:sort_order).each do |key| %>
						<% entity_mention.metadatum_values.has_key(key).build %>
					<% end %>
					<%= render partial: "geo_viz/extracts/annotation/controls/new", locals: { entity_mention: entity_mention } %>
				</div>
				<hr />
				<h4><%= t(:document).titleize %></h4>
				<%= render partial: "geo_viz/extracts/annotation/content" %>
        	</div>
        </div>
    </div>
</div>
