<% @group = NestedMetadata::MetadataGroup.with_name("Annotations").first %>
<% content_for(:header) do %>
	<%= stylesheet_link_tag 'nested_metadata/application', media: 'all' %>
	<%= stylesheet_link_tag 'annotations/application', media: 'all' %>
	<%= stylesheet_link_tag 'geo_viz/application', media: 'all' %>
	<%= javascript_include_tag 'annotations/application' %>
	<%= javascript_include_tag 'nested_metadata/application' %>
	<%= javascript_include_tag 'geo_viz/application' %>
<% end %>
<h3>Documents</h3>
<div id="documents" class="row main-content" data-path="<%= request.path %>" data-filter="<%= @filter_params %>" data-tab="<%= @tab %>">
	<div class="col-xs-4 col-md-3 col-lg-2 content-box content-box-light-contrast">
		<div id="filters">
			<%= render partial: "nested_metadata/filters/header", locals: { page: request.path } %>
			<%= render partial: "nested_metadata/filters/faceted" %>
		</div>
	</div>
	<div class="col-xs-8 col-md-3 col-lg-4 content-box">
		<div id="extracts">
			<h4>Extracts</h4>
			<hr />
			<div class="alphabet-container">
				<% @letters.each do |letter| %>
				<a class="<%= 'active' if letter.eql?(@current_letter) %>" href="<%= letter.eql?(@current_letter) ? '#' : @filter_params.length > 0 ? "#{request.path}?letter=#{letter}&tab=#{@tab}&number=#{@number}&#{@filter_params}" : "#{request.path}?letter=#{letter}&tab=#{@tab}&number=#{@number}" %>"><%= letter %></a>
				<% end %>
			</div>
			<div class="per-page">
				Show <%= select_tag "number", options_for_select([10, 25, 50], @number), :onchange => "update_documents_per_page(this, $(this).val(), '#{request.original_url}');" %> per page
			</div>
			<%= render partial: "nested_metadata/documents/documents/by_name", locals: { documents: @documents, paginate: true } %>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-6 content-box content-box-contrast">
		<div id="extract-annotation">
			<h4>Annotation</h4>
			<hr />
			<% if @document %>
				<%= render partial: "geo_viz/extracts/annotate" %>
			<% else %>
				<p>Please select an extract to annotate its contents.</p>
			<% end %>
		</div>
	</div>
</div>
