<div class="group-entity update">
	<%= form_for [:documents, @source_document, @group, entity_mention], :url => "/documents/sources/#{@source_document.id}/metadata_groups/#{@group.id}/entity_mentions/#{entity_mention.id}", :remote => true, :method => :patch do |f| %>
		<%= f.hidden_field :entity_type, :value => "location" %>
		<%= f.fields_for :metadatum_values, entity_mention.metadatum_values.joins(:metadata_key).order("nested_metadata_metadata_keys.sort_order asc") do |ff| %>
			<% metadatum_value = ff.object %>
			<% key = metadatum_value.metadata_key %>
			<%= ff.hidden_field :metadata_key_id, :value => key.id %>
			<div class="entity-mention-value">
                <% if key.boolean? %>
                    <div class="col-xs-12 col-lg-9 col-lg-offset-3 form-inline">
                        <%= ff.check_box :content, { :id => "#{key.name.gsub(' ','_')}_content", :value => metadatum_value.value ? metadatum_value.value.content : false, :class => "form-control", :readonly => !key.editable }, "true", "false" %>
                        <label><%= key.name %></label>
                    </div>
                <% else %>
                    <div class="col-xs-12 col-lg-3">
                        <label><%= key.name %></label>
                    </div>
                    <div class="col-xs-12 col-lg-9">
                        <div class="values">
                            <div class="input-group input-group-sm" style="width:100%;">
                                <% if key.name.eql?("location type") %>
                                    <%= ff.select :content, options_for_select(["real, existing < 1800", "real, existing > 1800", "real, historical", "real, extra terrestrial", "biblical", "mythical", "unknown"], metadatum_value.content), :id => "#{key.name.gsub(' ','_')}_content", include_blank: true %>
                                <% elsif key.name.eql?("position wrt main") %>
                                    <%= ff.select :content, options_for_select(["contains main location", "inside main location", "surrounds main", "surrounded by main", "north", "south", "east", "west", "north east", "north west", "south east", "south west"], metadatum_value.content), :id => "#{key.name.gsub(' ','_')}_content", include_blank: true %>
                                <% elsif key.date? %>
                                    <%= ff.date_field :content, :id => "#{key.name.gsub(' ','_')}_content", :value => metadatum_value.value ? metadatum_value.value.content : metadatum_value.content.to_date, :class => "form-control", :readonly => !key.editable %>
                                <% elsif key.boolean? %>
                                    <%= ff.check_box :content, { :id => "#{key.name.gsub(' ','_')}_content", :value => metadatum_value.value ? metadatum_value.value.content : false, :class => "form-control", :readonly => !key.editable }, "true", "false" %>
                                <% elsif key.float? || key.integer? %>
                                    <%= ff.number_field :content, :id => "#{key.name.gsub(' ','_')}_content", :value => metadatum_value.value ? metadatum_value.value.content : key.integer? ? metadatum_value.content.to_i : metadatum_value.content.to_f, :class => "form-control", :step => key.integer? ? "1" : "0.0000001", :readonly => !key.editable %>
                                <% else %>
                                    <% val = metadatum_value.value ? metadatum_value.value.content : metadatum_value.content %>
                                    <% if val.to_s.length > 30 %>
                                        <%= ff.text_area :content, :id => "#{key.name.gsub(' ','_')}_content", :value => val, :class => "form-control", :readonly => !key.editable %>
                                    <% else %>
                                        <%= ff.text_field :content, :id => "#{key.name.gsub(' ','_')}_content", :value => val, :class => "form-control", :readonly => !key.editable %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
			</div>
		<% end %>
		<div class="controls">
			<%= link_to 'Delete', {:controller => "geo_viz/entity_mentions", :action => 'destroy', :id => entity_mention.id, :source_document_id => entity_mention.source_document.id, :metadata_group_id => entity_mention.metadata_group.id, :target => '#source-document-group', :format => :js, :remote => true }, :method => :delete, :class => "btn btn-xs btn-danger" %>
			<%= submit_tag "Update", class: "btn btn-xs btn-success" %>
		</div>
	<% end %>
</div>
