<% entity_id = @group.next_entity_id(@document) %>
<div class="group-entity" id="group<%= @group.id %>_entity<%= entity_id %>">
	<%= form_for [:documents, @group], :url => "/documents/metadata_groups/entity", :method => :post do |f| %>
		<input type="hidden" name="document_id" value="<%= @document.id %>" />
		<input type="hidden" name="group" value="<%= @group.name %>" />
		<input type="hidden" name="group_entity_id" value="<%= @group.next_entity_id(@document) %>" />
		<% @group.metadata_keys.order(:sort_order).each do |metadata_key| %>
			<div class="key-values" id="group<%= @group.id %>_entity<%= entity_id %>_key<%= metadata_key.id %>">
				<div class="col-xs-12 col-lg-3">
					<label><%= metadata_key.name %></label>
				</div>
				<div class="col-xs-12 col-lg-9">
					<div class="values">
						<% metadatum_value = metadata_key.metadatum_values.new %>
						<% metadatum_value.value = metadata_key.typed_values.new %>
						<% value_type = metadata_key.preferred_value_type %>
						<% if value_type.eql?("location")%>
							<%= render partial: "nested_metadata/documents/metadatum_values/locations/new_in_entity", locals: { document: @document, metadata_key: metadata_key, metadatum_value: metadatum_value } %>
						<% else %>
							<%= render partial: "nested_metadata/documents/metadatum_values/new_in_entity", locals: { document: @document, metadata_key: metadata_key, metadatum_value: metadatum_value } %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
		<div class="controls">
			<%= button_tag "Save", class: "btn btn-success", onclick: "$(this).parent().submit();" %>
		</div>
	<% end %>
</div>
