<% @group = NestedMetadata::MetadataGroup.with_name("Annotations").first %>
<% content_for(:header) do %>
	<%= stylesheet_link_tag 'nested_metadata/application', media: 'all' %>
	<%= stylesheet_link_tag 'annotations/application', media: 'all' %>
	<%= stylesheet_link_tag 'geo_viz/application', media: 'all' %>
	<%= javascript_include_tag 'annotations/application' %>
	<%= javascript_include_tag 'nested_metadata/application' %>
	<%= javascript_include_tag 'geo_viz/application' %>
<% end %>
<h3>Documents</h3>
<div id="documents" class="row main-content" data-path="<%= request.path %>" data-filter="<%= @filter_params %>" data-tab="<%= @tab %>">
	<div class="col-xs-4 col-md-3 col-lg-2 content-box content-box-light-contrast">
		<div id="filters">
			<%= render partial: "nested_metadata/filters/header", locals: { page: request.path } %>
			<%= render partial: "nested_metadata/filters/faceted" %>
		</div>
	</div>
	<div class="col-xs-8 col-md-9 col-lg-10 content-box">
		<div id="extracts">
			<h4>Extracts</h4>
			<hr />
		</div>
	</div>
</div>
