<% @group = NestedMetadata::MetadataGroup.with_name("Annotations").first %>
<% content_for(:header) do %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<%= stylesheet_link_tag 'nested_metadata/application', media: 'all' %>
	<%= stylesheet_link_tag 'annotations/application', media: 'all' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.google_maps_api_key %>&callback=loadGoogleVisualisationAPI" async defer></script>
<% end %>
<h3>Places</h3>
<div id="places" class="row main-content" data-path="<%= request.path %>" data-filter="<%= @filter_params %>" data-tab="<%= @tab %>">
	<div class="col-xs-4 col-md-3 col-lg-2 content-box content-box-light-contrast">
		<div id="filters">
			<%= render partial: "nested_metadata/filters/header", locals: { page: request.path } %>
			<%= render partial: "nested_metadata/filters/faceted" %>
		</div>
	</div>
	<div class="col-xs-8 col-md-9 col-lg-10 content-box">
		<div id="map" class="google-map" data-url="/map.json?<%= @filter_params %>" style="width: 100%; height: 100%;"></div>
	</div>
</div>
